$color-bg-dark: rgba(29, 45, 68, 1);
$color-text-light: rgba(237, 242, 244, 1);
$color-text-lighter: rgba(237, 242, 244, 0.75);
$color-divider: rgba(237, 242, 244, 0.25);

* {
  box-sizing: border-box;
}



html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  margin: 0;
}


h1 {
  color: $color-text-light;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  font-weight: 900;
  padding-top: 64px;
  padding-bottom: 16px;
}

h4 {
  color: $color-text-light;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  font-weight: 300;
  padding-bottom: 64px;
}

h4.light {
  font-size: 1.25rem;
  text-align: center;
  color: $color-text-lighter;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 8px;
}

h5 {
  font-size: 0.75rem;
  color: $color-text-lighter;
  text-align: center;
  margin: 0;
  font-weight: 300;
  padding-bottom: 48px;
}

button {
  background-color: rgba(138, 205, 79, 1);
  outline: none;
  border: 0;
  padding: 0.75rem 5.25rem;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 4px;
  color: $color-bg-dark;
  margin-top: 48px;
  margin-bottom: 32px;
}


.dark-bg {
  background-color: $color-bg-dark;
}

.divider {
  height: 1px;
  max-width: 28rem;
  background-color: $color-divider;
  margin: 0 auto;
}

.action-group {
  text-align: center;
}

.link-row {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;

  a {
    color: $color-text-light;
    font-weight: 300;
  }
}

.link-divider {
  height: 4px;
  width: 4px;
  background-color: $color-text-light;
  border-radius: 50%;
  display: flex;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
}
